{
  "global": {
    "probe_N_IPs_simultaneously": 10,
      "http_socket_timeout": 5000,
      "rescan_list_delay": 1800000,
      "access_key": "Get free api key from https://ipstack.com/"
  },

    "instances": {
      "vtc": {
        "port": 9171,
        "currency": "Vertcoin",
        "addr_file": "/mining/p2pool-vtc/data/vertcoin/addrs",
        "store_file": "data/p2pool-vertcoin-public.json"
      }
    }
}
